<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../vendor/nv.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-logo">
            
            </div>
            <div class="nav-about">
                <p>About</p>
            </div>
            <div class="nav-main">
                <div class="login-button">
                    <button>
                        Login
                    </button>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>